<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href={% static 'css/style.css' %} type="text/css">
    <link rel="stylesheet" href={% static 'css/bootstrap.min.css' %} type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Insurance Database</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
        {% if message.detail_insurance == "error" %}
        <strong><span style="color: #ff564f">Error: {{ message }}</span></strong>
        {% elif message.detail_insurance == "info" %}
        <strong><span style="color: #73E460">Info: {{ message }}</span></strong>
        {% else %}
        <strong><span style="color: #73E460">Message: {{ message }}</span></strong>
        {% endif %}
        {% endfor %}
    {% endif %}

    <div class="text-center">{{ request.user.email }}</div>
    <nav>
        <div class="flex_box">
            <div class="nav_item"> <img src="{% static 'insurance_database/did.png' %}" alt="letters" id="logo"></div>
            {% if not user.is_authenticated %}<div class="nav_item"><a href={% url "registration" %}><h2>Registration</h2></a></div>{% endif %}
            {% if not user.is_authenticated %}<div class="nav_item"><a href={% url "login" %}><h2>Login</h2></a></div>{% endif %}
            {% if user.is_admin %}<div class="nav_item"><a href={% url "new_insured" %}><h2>Registration</h2></a></div>{% endif %}
            <div class="nav_item"> <a href={% url "insured_person_index" %}><h2>Insured</h2></a></div>
            {% if user.is_authenticated %}<div class="nav_item"><a href={% url "logout" %}><h2>Logout</h2></a></div>{% endif %}
        </div>
    </nav>
    <div class="content">
    {% block content %}
        
    {% endblock %}
    </div>
    <footer>
        Insurance Database 2023
    </footer>
</body>
</html>