{% extends "base.html" %}
{% block content %}
    <h1> Name: {{ insured_person.first_name }} <span class="glyphicon glyphicon-erase"></span></h1>
    <h1> Surname: {{ insured_person.last_name }} </h1>
    <h3> Insurance: {{ insured_person.insurance.insurance_name }} </h3>

    <hr>
    <form method="POST">
        {% csrf_token %}
        {% if user.is_admin %}Detail: {% if insured_person.detail_insurance.all.0 %} {% for detail in insured_person.detail_insurance.all %} <div class="btn btn-primary">{{ detail.detail_title }} </div> {% endfor %} {% else %} <span style="color: red;">This insured person does not have any insurance details</span> {% endif %}<br><button name="edit">Edit Details</button><button name="delete">Delete Insured Person</button>{% endif %}
    </form>
{% endblock %}